.Date {
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.Modal {
    height: 50%;
    width: 50%;
    position: fixed;
    border: 1px;
    border: solid;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    display: block;
    
}
.Modal-disabled {
    display: none;
}

.Inputs span {
   display: block;
}
.Buttons {
    text-align: center;
    }
.Buttons button {
    width: 10%;
    height: 20%;
    text-overflow: ellipsis;
    overflow: hidden;

}